
nav{
    ul{
        li{
            list-style: none; 
            font-size: 20px;
            display: inline;
            font-family: Arial, Helvetica, sans-serif;
            padding: 30px;
            font-weight: 300;
            }
        }
    }
    
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(158, 154, 154);
    width: 100%;

    nav{
        a{
            &:link, &:visited, &:active{
                color:$colorPrincipal;
                cursor: pointer;
                }
            &:hover{
                color: $colorGris;
            }
        }
    }

    div{
        img{
            height: 100px;
        }
    }
}

@media only screen and (max-width: 768px) {
    nav{
        ul{
            li{
                font-size: 17px;
                font-weight: 540;
            }
        }
    }
    
}

@media only screen and (max-width: 675px) {
    nav {
        padding-top: -20px;
        background-color: rgb(238, 228, 228);
        width: 100%;
        ul{ 
            li{
                margin: -17px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: auto;
                
            }
        }
    }
    header{
        flex-wrap: nowrap;
        div{
            img{
                width: 400px;
                }
            }
        }
    .d-flex{
        justify-content: center;
    }
}